# Function Application and Mapping

## Author: Sheikh Irfan Ullah Khan

### Contact Me: shirfan.math@gmail.com

#### 1. Apply lambda and Map functions

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Create a random DataFrame using numpy
df = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'),
                  index = ['one', 'two', 'three', 'four'])
df

              a         b         c
one   -0.763779 -0.232512  0.714006
two   -0.688078  0.045959 -0.882205
three  0.259664 -0.243392 -0.870928
four   1.740944  0.085959  0.796224

In [3]:
# Take the absolute of dataframe
abs(df)

              a         b         c
one    0.763779  0.232512  0.714006
two    0.688078  0.045959  0.882205
three  0.259664  0.243392  0.870928
four   1.740944  0.085959  0.796224

In [4]:
# Apply the lambda function to find max of each column
s = lambda x: x.max()
print(df)
df.apply(s, axis = 'columns')

              a         b         c
one   -0.763779 -0.232512  0.714006
two   -0.688078  0.045959 -0.882205
three  0.259664 -0.243392 -0.870928
four   1.740944  0.085959  0.796224

one      0.714006
two      0.045959
three    0.259664
four     1.740944
dtype: float64

In [5]:
# Apply the lambda function to find min of each column
s = lambda x: x.min()
print(df)
df.apply(s)

              a         b         c
one   -0.763779 -0.232512  0.714006
two   -0.688078  0.045959 -0.882205
three  0.259664 -0.243392 -0.870928
four   1.740944  0.085959  0.796224

a   -0.763779
b   -0.243392
c   -0.882205
dtype: float64

In [6]:
# Apply the lambda function to find the difference between min and max of each column
s = lambda x: x.max() - x.min()
print(df)
df.apply(s)

              a         b         c
one   -0.763779 -0.232512  0.714006
two   -0.688078  0.045959 -0.882205
three  0.259664 -0.243392 -0.870928
four   1.740944  0.085959  0.796224

a    2.504723
b    0.329351
c    1.678428
dtype: float64

In [7]:
# Defien a function to return the min max and mean
def s(x):
    return pd.Series([x.min(), x.max(), x.mean()], index = ['min', 'max', 'mean'])
print(df)
df.apply(s)

              a         b         c
one   -0.763779 -0.232512  0.714006
two   -0.688078  0.045959 -0.882205
three  0.259664 -0.243392 -0.870928
four   1.740944  0.085959  0.796224

             a         b         c
min  -0.763779 -0.243392 -0.882205
max   1.740944  0.085959  0.796224
mean  0.137188 -0.085997 -0.060726

In [8]:
# Apply the map function to the dataframe
s = lambda x: '%.3f' % x
df.map(s)

            a       b       c
one    -0.764  -0.233   0.714
two    -0.688   0.046  -0.882
three   0.260  -0.243  -0.871
four    1.741   0.086   0.796