# Essential Functionalities in Pandas

## Author: Sheikh Irfan Ullah Khan

### Contact Me: shirfan.math@gmail.com

#### 1. How to `Reindex` Pandas Objects

In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [3]:
obj1 = obj.reindex(index=['a', 'b', 'c', 'd'])
obj1

a   -5
b    7
c    3
d    4
dtype: int64

In [4]:
obj2 = obj.reindex(index=['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.0
b    7.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [5]:
obj3 = pd.Series([1, 2, 3], index=[0, 1, 2])
obj3

0    1
1    2
2    3
dtype: int64

In [6]:
obj3.reindex(index = np.arange(5))

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
dtype: float64

In [7]:
obj3.reindex(index = np.arange(5), method='ffill')

0    1
1    2
2    3
3    3
4    3
dtype: int64

In [8]:
# Create a data frame of 3 rows and 3 columns using numpy
obj4 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                    index = list('cab'),
                    columns = ['Abbottabd', 'Mansehra', 'Haripur'])
obj4

   Abbottabd  Mansehra  Haripur
c          1         2        3
a          4         5        6
b          7         8        9

In [9]:
obj5 = obj4.reindex(['a', 'b', 'c', 'd'])
obj5

   Abbottabd  Mansehra  Haripur
a        4.0       5.0      6.0
b        7.0       8.0      9.0
c        1.0       2.0      3.0
d        NaN       NaN      NaN

In [10]:
capitals = ['Dera', 'Abbottabd', 'Mansehra', 'Haripur']
print(obj4)
obj4.reindex(columns=capitals)

   Abbottabd  Mansehra  Haripur
c          1         2        3
a          4         5        6
b          7         8        9

   Dera  Abbottabd  Mansehra  Haripur
c   NaN          1         2        3
a   NaN          4         5        6
b   NaN          7         8        9